* {
 box-sizing: border-box;
}

#wrapper {
 width: 1200px;
 margin: 0 auto;
}

.header {
 text-align: center;
 margin-top: 70px;
 font: bold 30px/1.2 arial;
 margin-bottom: 70px;
}

.header span {
 color: #FD58B2;
}

.col,
.col-two {
 display: inline-block;
 text-align: center;
 margin: 0px 60px;
 width: 260px;
 vertical-align: text-top;
}

p {
 width: 260px;
 font: bold 16px arial;
 margin: 25-auto;
 padding: 0;
}