* {
 box-sizing: border-box;
}

body {
 margin: 0;
 padding: 0;
 background: #C4C4C4;
}

#wrapper {
 width: 1100px;
 margin: 0px auto;
 border-left: 2px solid #8B8B8B;
 border-right: 2px solid #8B8B8B;
 background: #E1E1E1;
 text-align: justify;
 font: 18px/30px arial;
 padding: 30px;
}

#announcement {
 width: 250px;
 position: fixed;
 left: 20px;
 top: 50px;
}
li {
 list-style: none;
}
a:link, a:visited{
	color:black;
}
#announcement a:link, #announcement a:link{
 text-decoration: none;
 color:black;
}
#announcement a:hover{
 color:green;
}
h1, h2 {
 text-align: center;
 font-style: italic;
}
.head-back img{
	width: 100%;
	opacity: 0.3
}
.chr-back2, .chr-back3, .chr-back4{
	float:left;
	margin-right: 10px;
}