*{
	box-sizing:border-box;	
	 }
body {
	background-color: #F9F9F9;
}
.container {
	max-width: 1140px;
	margin: 0 auto;
}

.header	{
	display: flex;
	flex-direction: column;
	justify-content: center;
 font:36px arial;
 text-align: center;
 margin-top: 100px;
 margin-bottom: 130px;
}

.main {
	display: flex;
	justify-content: space-between;
	max-width: 1140px;
	text-align: center;
}

.main-img__text {
	margin-bottom: 100px;
}

.main-img {
	display: flex;
 flex-direction: column;
 align-items: center;
	margin-bottom: 25px;
	}

.main-text {
	font:16px arial;
	margin-bottom: 28px;
}

.main-prace {
	font:bold 18px arial;
	margin-bottom: 30px;
}

 .button-o {
  display: flex;
  justify-content:center;
  align-items: center;
  height: 60px;
  width: 200px;
  margin: 0 auto;
	 border: 2px solid #39BFC6;
	 background-color: white;
	 color: #39BFC6;
	 font: bold 25px arial;
	}

