*{
	box-sizing: border-box;
}
#wrapper{
width: 1000px;
margin: 0 auto;
}
.header{
	text-align: center;
	margin-top: 70px;
 font:bold 30px/1.2 arial;
}
.header span{
	 color:#FD58B2;
}
.col, .col-two{
	 display: inline-block;
	 text-align:center;
	 margin: 0px 60px;
	 width: 200px;
	 vertical-align: text-top;
}

p{
	 width: 260px;
	 font:bold 16px arial;
	 margin-top:25px;
}
