body {
	margin: 0;
	font-family: tahoma;
	color:#000;
}
img {
	max-width: 100%;
}

.header {
	padding-top: 77px;
	padding-bottom: 96px;
}

.header-text__title {
	margin-bottom: 15px;
	font-size: 48px;
	font-weight: 700;
}

.header-text__subtitle {
	font-size: 30px;
	font-weight: 400px;
	margin-bottom: 35px;
}

.header-text__descr {
	margin-bottom: 47px;
	font-size: 18px;
	font-weight: 400px;
	line-height: 27px;
}

.header-text__price {
	margin-bottom: 53px;
	color:#313131;
	font-size: 48px;
	font-weight: 400;
}
.button {
	margin-bottom: 20px;
	border: 3px solid transparent;
	border:none;
	border-radius: 5px;
	background-color: #f05a22;
	color:#fff;
	padding: 22px 43px;
	font-size: 24px;
	font-weight: 700;
	margin-right: 40px;
}

.button-o {
	background-color: transparent;
	border:3px solid #f05a22;
	color:#f05a22;
}

.features {
	background-color: #f2f2f2;
	padding: 89px;
	padding-bottom: 100px;
	text-align:center;
}

.section-title {
	margin-bottom: 91px;
	font-size: 30px;
	font-weight: 700;
}
.features__img {
	min-height: 55px;
}

.features__text {
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: 400;
}
 
 .footer {
 	padding-bottom: 80px;
 }

 .section-title {
 	text-align: center;
 	margin-top: 99px;
 	margin-bottom: 70px;
 }

 .foto {
 	text-align: center;
 	margin-bottom: 40px;
 	max-width: 262px
 }